<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>High</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <style>
      h1{
        font-size: 80px;
        color:indigo;}


      div {
        background: #ffffff;
        width: 300px;
        padding: 70px;
        text-align: center;
      }

      p{font-size:50px;
      color:red;}

      a{font-size:50px;
      color:blue;
      }
    </style>
  <h1>Result</h1>
</head>
  <body>
    <div>
      <p>{{result}}</p><br>
      <br>
      <p>random number is {{ random_number }}</p>
      <a href="./">play again</a>
    </div>
  </body>
</html>
