<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>high and low game</title>

    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    
    <style>
      h1{
        font-size: 80px;
        color:indigo;}


      div {
        background: #ffffff;
        width: 300px;
        padding: 70px;
        text-align: center;
      }

      p{font-size:50px;
      color:red;}

      a{font-size:50px;
      color:blue;
      }

      button{
          width: 300px;
          padding: 10px;
          box-sizing: border-box;
          border: 1px solid #68779a;
          background: #cbe8fa;
          cursor: pointer;
      }
    </style>
    <h1>High and Low Game</h1>

    <h2>welcome to high and low game. your card is under the below. Please make a guess if it's higher or lower than the random number.</h2>
    
    <h3>if you want another number, plz refresh this site.</h3>
  </head>
  <body>
    <div>
      <p>Your card is {{card}}</p><br>
      <br>
      
      <button onclick="location.href='/high'">High！</button><br>
      <br>
      <button onclick="location.href='/low'">Low！</button><br>
      

    </div>
  </body>
</html>


